*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(../imagenes/contacto-portada.jpg);
    background-repeat: no-repeat; */   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenido{
    width: 1024px;
}
/* HEADER */
.navegacion{
    width: 100%;
}
.navegacion ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
}
.navegacion ul li{
    padding-right: 20px;
    list-style: none;
}
.navegacion ul li a{
    text-decoration: none;
    color: black;
}
.navegacion ul li a:hover{
    text-decoration: underline red;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
main form{
    margin-top: 30px;
}
.nombre{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nombre label{
    padding-right: 50px;
    font-family: 'Montserrat', sans-serif;
}
.nombre input{
    height: 30px;
}