.contenido{
    width: 480px;
}
header p, header h1{
    display: none;
}
#menu{
    background-image: url(../imagenes/menu.jpg);
    width: 36px;
    height: 36px;
    display: inline-block;
    font-size: 0px;
    /* border: solid 2px black; */
    margin-top: 0px;
    margin-left: 0px;
}   
.viaje{
    width: 480px;
}
.viaje div p{
    font-size: 14px;
}
.texto-azul{
    font-size: 20px;
}

.visitarIndia{
    width: 480px;
    border-radius: 20px;
}
.visitarIndia h2{
    margin-top: 5px;
}
.visitarIndia div{
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.visitarIndia div:nth-last-child(3), .visitarIndia div:nth-last-child(2){
    border-bottom: 1px solid black;

}
.visitarIndia div p{
    font-size: 14px;
}

.opciones{
    width: 480px;
}
.arte, .parque-nacional, .aire-libre{
    width: 480px;
    height: 200px;
}

.opiniones{
    width: 480px;
    flex-direction: column;
}
.div-row{
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}
.row{
    flex-direction: row;
}
.puntuaciones{
    border-right: none;
    margin-right: 30px;
}

.div-comentarios{
    width: 100%;
}
.row-comentarios{
    width: 100%;
    flex-direction: column;
}
.ordenarPor p{
    font-size: 15px;
}
#escribir-opinion{
    margin-left: 40px;
}

.promociones{
    width: 100%;
    margin: 40px 0 40px 0;
    flex-direction: column;
}
.form-index{
    /* margin-left: 20px; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
}
.form-index form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.form-index form button{
    margin-top: 20px;
}

/* .header-index, .header-turismo, .header-info, .header-contacto, .header-gracias{
    display: none;
    background-image: none;
}
.navegacion:target{
    display: block;
    margin-top: 10px;
    margin-left: 0px;
    width: 200px;
}
.navegacion ul li{
    border: solid 2px black;
    padding: 10px;
    margin: 10px;
}
#menu{
    background-image: url(../imagenes/menu.jpg);
    width: 36px;
    height: 36px;
    display: inline-block;
    font-size: 0px;
    border: solid 2px black;
    margin-top: 0px;
    margin-left: 0px;
}
#cerrar{
    display: block;
    background-image: url;
    width: 36px;
    height: 36px;
    font-size: 0px;
} */