*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main, nav, header, footer{
    display:block;
} */
body{
    /* background-image: url(../imagenes/india.jpg);
    background-repeat: no-repeat; */   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenido{
    width: 1024px;
}

/* HEADER */
/* #encabezado{
    width: 1024px;
    margin: 0;
} */
header{
    width: 100%;
    height: 540px;
    background-image: url(../imagenes/india.jpg);
    background-repeat: no-repeat;
}
.navegacion{
    width: 100%;
}
.navegacion ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
}
.navegacion ul li{
    padding-right: 20px;
    list-style: none;
}
.navegacion ul li a{
    text-decoration: none;
    color: black;
}
.navegacion ul li a:hover{
    text-decoration: underline #f9af38;
}
h1{
    font-size: 120px;
    font-family: 'Petemoss', cursive;
    position: relative;
    left: 50px;
    right: 0px;
    top: 10px;
    bottom: 40px;
    width: 500px;
}

/* MAIN */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#introduccion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 15px;
    box-shadow: 2px 10px 26px -5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 2px 10px 26px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 10px 26px -5px rgba(0,0,0,0.6);
}
.mogol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.mogol div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    flex-direction: column;
    margin: 30px;
}
.mogol div ul{
    padding-left: 50px;
}

.visitarIndia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8f8270;
    width: 1000px;
    border-radius: 100px;
    padding: 30px;
}
.visitarIndia div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    width: 800px;
}
.visitarIndia div p{
    padding: 0px 20px;
}
.visitarIndia div img{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 10px;
}
.acerca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}
.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 5px 0 5px;
    width: 330px;
}
.p{
    width: 250px;
    margin-top: 5px;
}


/* FOOTER */
footer{
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
footer div{
    margin: 30px;
    width: 50%;
}
footer div ul li{
    list-style: none;
    padding-left: 10px;
}
.soporte{
    margin-left: 900px;
}