*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main, nav, header, footer{
    display:block;
}
body{
    background-image: url(../imagenes/india.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.principal{
	width: 1366px;
}